body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'iconfont';  /* project id 1569758 */
  src: url('//at.alicdn.com/t/font_1569758_ohlsom7oaxf.eot');
  src: url('//at.alicdn.com/t/font_1569758_ohlsom7oaxf.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1569758_ohlsom7oaxf.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1569758_ohlsom7oaxf.woff') format('woff'),
  url('//at.alicdn.com/t/font_1569758_ohlsom7oaxf.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1569758_ohlsom7oaxf.svg#iconfont') format('svg');
}
